* {
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
    background-color: #009760 ;
}

.container {
    display: flex;
    width: 95%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
}

.navbar {
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navbar li, .navbar a {
    color: white;
    text-decoration: none;
}